/* SETS ALL THE FONT TO ARIAL */
body {
  font-family: Arial, sans-serif;  
}

/* STANDARD FONT-SIZING */
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

p {
  font-size: 16px;
  margin-bottom: 1em;
}


